.accordion {
  max-width: 575px;
  margin-top: 1rem;

  .accordion__section {
    border: 1px solid var(--quaternary-color);
    margin-bottom: 0.75rem;
  }

  .accordion__trigger {
    background-color: var(--primary-color);
    color: var(--quinary-color);
    padding: 1rem 0.75rem;
    border: none;
    width: 100%;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color var(--transition);
    border-bottom: 4px solid var(--senary-color);

    &--closed {
      background-color: var(--primary-color);
    }

    &--open {
      background-color: var(--secondary-color);
    }

    &:hover {
      background-color: var(--secondary-color);
    }
  }

  .accordion__panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--transition);
  }

  .accordion__content {
    padding: 0.75rem;
    color: var(--tertiary-color);
  }
}
