:root {
  --primary-color: hsl(291, 52%, 45%);
  --secondary-color: hsl(259, 46%, 49%);
  --tertiary-color: hsl(0, 0%, 59%);
  --quaternary-color: hsl(0, 0%, 80%);
  --quinary-color: hsl(0, 0%, 100%);
  --senary-color: hsl(290, 52%, 32%);
  --transition: 0.15s ease;
}
